
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 171 85% 29%;

    --card: 0 0% 100%;
    --card-foreground: 171 85% 29%;

    --popover: 0 0% 100%;
    --popover-foreground: 171 85% 29%;

    --primary: 171 85% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 95% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 171 10% 96%;
    --muted-foreground: 171 40% 35%;

    --accent: 25 95% 93%;
    --accent-foreground: 25 95% 43%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 171 20% 90%;
    --input: 171 20% 90%;
    --ring: 171 85% 29%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 171 50% 10%;
    --foreground: 0 0% 98%;

    --card: 171 50% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 171 50% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 171 85% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 95% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 171 40% 20%;
    --muted-foreground: 171 20% 80%;

    --accent: 25 95% 30%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 171 40% 20%;
    --input: 171 40% 20%;
    --ring: 171 85% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
